body, html, #app, .root-router
  height 100%
.root-router
  position relative
  color #333
  font-size 14px
  line-height 1
  background #f5f5f9
  overflow hidden
img
  vertical-align top
  display block

.btn-list
  padding 20px
  .cube-btn:not(:last-child)
    margin-bottom 20px