// 覆盖框架的样式
// mescroll 下拉刷新样式
.mescroll
  .mescroll-downwarp .downwarp-progress, .mescroll-upwarp .upwarp-progress
    width 15PX
    height 15PX
    border-radius 50%
    border 1PX solid gray
    border-bottom-color transparent
  .down-success
    display none
    color gray
    line-height 18px
  .mescroll-downwarp .downwarp-content
    padding 0
